<a href="https://colab.research.google.com/github/singhbhaskar360/Python_ML/blob/main/Pandas_session_17_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

## Basic DataFrame

Consider the following Python dictionary data and Python list labels:

```
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills', 'Cranes'], 
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4, 3.5], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2, 2], 
        'priority': ['yes', 'yes', 'no', np.nan, 'no', 'no', 'no', 'yes', 'no', 'no','yes']}
```
```
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
```

###`Q-1:` 
i. Create a DataFrame birds from the above dictionary data which has the index labels. 

ii. Display basic information about the dataFrame.

iii. Show Alternate rows of the dataframe.

In [45]:
import numpy as np
import pandas as pd

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills', 'Cranes'], 
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4, 3.5], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2, 2], 
        'priority': ['yes', 'yes', 'no', np.nan, 'no', 'no', 'no', 'yes', 'no', 'no','yes']}

In [46]:
labels = np.array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'])
labels.reshape(11,1)
labels

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'], dtype='<U1')

In [48]:
birds

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      NaN
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
k      Cranes  3.5       2      yes

In [47]:
# code here
import pandas as pd
birds=pd.DataFrame(data)

birds.set_index(labels,inplace=True)
birds.head(5)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      NaN
e  spoonbills  6.0       3       no

In [4]:
birds
birds.info()
birds.describe()
birds[::2]

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, a to k
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   birds     11 non-null     object
 1   age       9 non-null      float64
 2   visits    11 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 440.0+ bytes

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
i  spoonbills  8.0       3       no
k      Cranes  3.5       2      yes

###`Q-2:` 
i. Show only rows [1st, 3rd, 7th] from columns ['bird', 'age']

ii. Select rows where the number of visits is less than 4.

In [28]:
# code here
#2.1
birds.iloc[[0,2,6],[0,1]]

#2.2

birds[birds['visits']>=4]

        birds  age  visits priority
b      Cranes  4.0       4      yes
d  spoonbills  NaN       4      NaN
f      Cranes  3.0       4       no

###`Q-3:` 
i. Select all rows with nan values in age and visits column.

ii. Fill nan with respective series mode value.

In [32]:
# code here

birds[birds['age'].isna() | birds['priority'].isna()]

        birds  age  visits priority
d  spoonbills  NaN       4      NaN
h      Cranes  NaN       2      yes

In [36]:
birds.isnull()=birds.mean()
birds

SyntaxError: ignored

###`Q-4`
i. Find the total number of visits of the bird Cranes

ii. Find the number of each type of birds in dataframe.

iii. Print no of duplicate rows

iv. Drop Duplicates rows and make this changes permanent. Show dataframe after changes.

In [58]:
#4.1
birds[birds['birds']=='Cranes']['visits'].sum()

#4.2
x=birds['birds'].nunique()
# birds
x

#4.3
birds.duplicated().sum()
birds

#4.4

birds.drop_duplicates(inplace=True)
birds

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      NaN
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

In [ ]:
# code here

##Question on IPL Data

IPL Data Link :  https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

https://www.kaggle.com/datasets/vora1011/ipl-2008-to-2021-all-match-dataset?select=IPL_Matches_2008_2022.csv

Download ipl matches 2008-2022 file.

###`Q-5:` In IPL matches dataset some teams name has changed. 
You will have to consider them as same.
```
'Delhi Capitals' formerly as 'Delhi Daredevils' 
'Punjab Kings' formerly as 'Kings XI Punjab'
'Rising Pune Supergiant' formerly as 'Rising Pune Supergiants'
```
You need to make changes accordingly. Consider current name for each teams.

Be careful Gujrat Titans and Gujrat Lions are different teams.

In [80]:
# code here
# ipl=pd.read_csv('/content/IPL_Matches_2008_2022.csv')
ipl[ipl['Team1']=='Rising Pune Supergiant']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
319,1082645,Pune,2017-05-14,2017,55,Rising Pune Supergiant,Punjab Kings,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Rising Pune Supergiant,Wickets,9.0,NaN,JD Unadkat,"['AM Rahane', 'RA Tripathi', 'SPD Smith', 'BA ...","['MJ Guptill', 'WP Saha', 'SE Marsh', 'EJG Mor...",AY Dandekar,A Deshmukh
335,1082629,Pune,2017-05-01,2017,39,Rising Pune Supergiant,Gujarat Lions,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Rising Pune Supergiant,Wickets,5.0,NaN,BA Stokes,"['AM Rahane', 'RA Tripathi', 'SPD Smith', 'MK ...","['Ishan Kishan', 'BB McCullum', 'SK Raina', 'A...",M Erasmus,C Shamshuddin
340,1082624,Pune,2017-04-29,2017,34,Rising Pune Supergiant,Royal Challengers Bangalore,Maharashtra Cricket Association Stadium,Royal Challengers Bangalore,field,N,Rising Pune Supergiant,Runs,61.0,NaN,LH Ferguson,"['AM Rahane', 'RA Tripathi', 'SPD Smith', 'MK ...","['TM Head', 'V Kohli', 'AB de Villiers', 'KM J...",KN Ananthapadmanabhan,M Erasmus
344,1082620,Pune,2017-04-26,2017,30,Rising Pune Supergiant,Kolkata Knight Riders,Maharashtra Cricket Association Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,RV Uthappa,"['AM Rahane', 'RA Tripathi', 'SPD Smith', 'MS ...","['SP Narine', 'G Gambhir', 'RV Uthappa', 'DM B...",AY Dandekar,NJ Llong
348,1082615,Pune,2017-04-22,2017,24,Rising Pune Supergiant,Sunrisers Hyderabad,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Rising Pune Supergiant,Wickets,6.0,NaN,MS Dhoni,"['AM Rahane', 'RA Tripathi', 'SPD Smith', 'MS ...","['DA Warner', 'S Dhawan', 'KS Williamson', 'MC...",AY Dandekar,A Deshmukh
364,1082599,Pune,2017-04-11,2017,9,Rising Pune Supergiant,Delhi Capitals,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Delhi Capitals,Runs,97.0,NaN,SV Samson,"['AM Rahane', 'MA Agarwal', 'F du Plessis', 'R...","['AP Tare', 'SW Billings', 'SV Samson', 'RR Pa...",AY Dandekar,S Ravi
371,1082592,Pune,2017-04-06,2017,2,Rising Pune Supergiant,Mumbai Indians,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Rising Pune Supergiant,Wickets,7.0,NaN,SPD Smith,"['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA S...","['PA Patel', 'JC Buttler', 'RG Sharma', 'N Ran...",A Nand Kishore,S Ravi
380,981005,Visakhapatnam,2016-05-21,2016,53,Rising Pune Supergiant,Punjab Kings,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Punjab Kings,bat,N,Rising Pune Supergiant,Wickets,4.0,NaN,MS Dhoni,"['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'SS T...","['HM Amla', 'M Vijay', 'WP Saha', 'Gurkeerat S...",HDPK Dharmasena,Nitin Menon
384,980997,Visakhapatnam,2016-05-17,2016,49,Rising Pune Supergiant,Delhi Capitals,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Rising Pune Supergiant,field,N,Rising Pune Supergiant,Runs,19.0,D/L,AB Dinda,"['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'SS T...","['Q de Kock', 'SS Iyer', 'KK Nair', 'SV Samson...",Nitin Menon,C Shamshuddin
393,980979,Visakhapatnam,2016-05-10,2016,40,Rising Pune Supergiant,Sunrisers Hyderabad,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,4.0,NaN,A Zampa,"['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'R As...","['DA Warner', 'S Dhawan', 'KS Williamson', 'Yu...",CB Gaffaney,VK Sharma
405,980957,Pune,2016-05-01,2016,29,Rising Pune Supergiant,Mumbai Indians,Maharashtra Cricket Association Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,8.0,NaN,RG Sharma,"['AM Rahane', 'SS Tiwary', 'SPD Smith', 'PSP H...","['RG Sharma', 'PA Patel', 'AT Rayudu', 'JC But...",AY Dandekar,RJ Tucker
408,980949,Pune,2016-04-29,2016,25,Rising Pune Supergiant,Gujarat Lions,Maharashtra Cricket Association Stadium,Gujarat Lions,field,N,Gujarat Lions,Wickets,3.0,NaN,DR Smith,"['AM Rahane', 'SS Tiwary', 'SPD Smith', 'MS Dh...","['DR Smith', 'BB McCullum', 'SK Raina', 'KD Ka...",CB Gaffaney,BNJ Oxenford
413,980939,Pune,2016-04-24,2016,20,Rising Pune Supergiant,Kolkata Knight Riders,Maharashtra Cricket Association Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,2.0,NaN,SA Yadav,"['AM Rahane', 'F du Plessis', 'SPD Smith', 'NL...","['RV Uthappa', 'G Gambhir', 'SA Yadav', 'Shaki...",CB Gaffaney,A Nand Kishore
417,980931,Pune,2016-04-22,2016,16,Rising Pune Supergiant,Royal Challengers Bangalore,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Royal Challengers Bangalore,Runs,13.0,NaN,AB de Villiers,"['AM Rahane', 'F du Plessis', 'KP Pietersen', ...","['V Kohli', 'KL Rahul', 'AB de Villiers', 'SR ...",CB Gaffaney,VK Sharma
557,598067,Pune,2013-05-19,2013,71,Rising Pune Supergiant,Delhi Capitals,Subrata Roy Sahara Stadium,Rising Pune Supergiant,bat,N,Rising Pune Supergiant,Runs,38.0,NaN,LJ Wright,"['RV Uthappa', 'AJ Finch', 'MK Pandey', 'Yuvra...","['DPMD Jayawardene', 'DA Warner', 'B Chipli', ...",NJ Llong,SJA Taufel
570,598055,Pune,2013-05-11,2013,58,Rising Pune Supergiant,Mumbai Indians,Subrata Roy Sahara Stadium,Rising Pune Supergiant,bat,N,Mumbai Indians,Wickets,5.0,NaN,MG Johnson,"['RV Uthappa', 'AJ Finch', 'MK Pandey', 'Yuvra...","['DR Smith', 'SR Tendulkar', 'KD Karthik', 'RG...",Asad Rauf,AK Chaudhary
572,598053,Pune,2013-05-09,2013,56,Rising Pune Supergiant,Kolkata Knight Riders,Subrata Roy Sahara Stadium,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,46.0,NaN,G Gambhir,"['RV Uthappa', 'AJ Finch', 'Yuvraj Singh', 'UA...","['MS Bisla', 'G Gambhir', 'JH Kallis', 'EJG Mo...",Asad Rauf,S Asnani
582,598042,Pune,2013-05-02,2013,46,Rising Pune Supergiant,Royal Challengers Bangalore,Subrata Roy Sahara Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,17.0,NaN,AB de Villiers,"['RV Uthappa', 'AJ Finch', 'TL Suman', 'Yuvraj...","['SS Tiwary', 'CH Gayle', 'V Kohli', 'AB de Vi...",Aleem Dar,C Shamshuddin
586,598038,Pune,2013-04-30,2013,42,Rising Pune Supergiant,Chennai Super Kings,Subrata Roy Sahara Stadium,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,37.0,NaN,MS Dhoni,"['RV Uthappa', 'AJ Finch', 'TL Suman', 'Yuvraj...","['MEK Hussey', 'WP Saha', 'SK Raina', 'S Badri...",S Das,SJA Taufel
606,598018,Pune,2013-04-17,2013,22,Rising Pune Supergiant,Sunrisers Hyderabad,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,field,N,Sunrisers Hyderabad,Runs,11.0,NaN,A Mishra,"['RV Uthappa', 'AJ Finch', 'TL Suman', 'SPD Sm...","['PA Patel', 'Q de Kock', 'GH Vihari', 'CL Whi...",Asad Rauf,AK Chaudhary
615,598009,Pune,2013-04-11,2013,13,Rising Pune Supergiant,Rajasthan Royals,Subrata Roy Sahara Stadium,Rajasthan Royals,bat,N,Rising Pune Supergiant,Wickets,7.0,NaN,AJ Finch,"['RV Uthappa', 'AJ Finch', 'LRPL Taylor', 'Yuv...","['MDKJ Perera', 'AM Rahane', 'R Dravid', 'STR ...",M Erasmus,K Srinath
622,598003,Pune,2013-04-07,2013,6,Rising Pune Supergiant,Punjab Kings,Subrata Roy Sahara Stadium,Rising Pune Supergiant,bat,N,Punjab Kings,Wickets,8.0,NaN,M Vohra,"['RV Uthappa', 'MK Pandey', 'TL Suman', 'MN Sa...","['AC Gilchrist', 'Mandeep Singh', 'M Vohra', '...",S Asnani,SJA Taufel
634,548375,Pune,2012-05-19,2012,70,Rising Pune Supergiant,Kolkata Knight Riders,Subrata Roy Sahara Stadium,Kolkata Knight Riders,bat,N,Kolkata Knight Riders,Runs,34.0,NaN,Shakib Al Hasan,"['RV Uthappa', 'JD Ryder', 'MJ Clarke', 'SC Ga...","['BB McCullum', 'G Gambhir', 'JH Kallis', 'Sha...",S Asnani,BR Doctrove
647,548362,Pune,2012-05-11,2012,57,Rising Pune Supergiant,Royal Challengers Bangalore,Subrata Roy Sahara Stadium,Rising Pune Supergiant,field,N,Royal Challengers Bangalore,Runs,35.0,NaN,CH Gayle,"['MD Mishra', 'MJ Clarke', 'MK Pandey', 'RV Ut...","['CH Gayle', 'TM Dilshan', 'V Kohli', 'SS Tiwa...",BF Bowden,SK Tarapore
652,548358,Pune,2012-05-08,2012,52,Rising Pune Supergiant,Rajasthan Royals,Subrata Roy Sahara Stadium,Rising Pune Supergiant,bat,N,Rajasthan Royals,Wickets,7.0,NaN,SR Watson,"['SC Ganguly', 'MJ Clarke', 'RV Uthappa', 'AP ...","['R Dravid', 'AM Rahane', 'SR Watson', 'AL Men...",Asad Rauf,BR Doctrove
659,548351,Pune,2012-05-03,2012,45,Rising Pune Supergiant,Mumbai Indians,Subrata Roy Sahara Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,1.0,NaN,SL Malinga,"['RV Uthappa', 'JD Ryder', 'MJ Clarke', 'SC Ga...","['JEC Franklin', 'SR Tendulkar', 'RG Sharma', ...",Asad Rauf,S Asnani
669,548341,Pune,2012-04-26,2012,35,Rising Pune Supergiant,Deccan Chargers,Subrata Roy Sahara Stadium,Deccan Chargers,bat,N,Deccan Chargers,Runs,18.0,NaN,CL White,"['MK Pandey', 'JD Ryder', 'SC Ganguly', 'RV Ut...","['PA Patel', 'S Dhawan', 'CL White', 'KC Sanga...",S Ravi,RJ Tucker
671,548337,Pune,2012-04-24,2012,31,Rising Pune Supergiant,Delhi Capitals,Subrata Roy Sahara Stadium,Rising Pune Supergiant,bat,N,Delhi Capitals,Wickets,8.0,NaN,V Sehwag,"['JD Ryder', 'MK Pandey', 'SC Ganguly', 'RV Ut...","['DPMD Jayawardene', 'V Sehwag', 'KP Pietersen...",S Ravi,RJ Tucker
686,548322,Pune,2012-04-14,2012,16,Rising Pune Supergiant,Chennai Super Kings,Subrata Roy Sahara Stadium,Chennai Super Kings,bat,N,Rising Pune Supergiant,Wickets,7.0,NaN,JD Ryder,"['RV Uthappa', 'JD Ryder', 'SC Ganguly', 'MN S...","['F du Plessis', 'M Vijay', 'SK Raina', 'MS Dh...",Aleem Dar,BNJ Oxenford
694,548313,Pune,2012-04-08,2012,8,Rising Pune Supergiant,Punjab Kings,Subrata Roy Sahara Stadium,Rising Pune Supergiant,bat,N,Rising Pune Supergiant,Runs,22.0,NaN,MN Samuels,"['JD Ryder', 'SC Ganguly', 'MN Samuels', 'RV U...","['AC Gilchrist', 'PC Valthaty', 'Mandeep Singh...",S Das,SJA Taufel
711,501262,Mumbai,2011-05-19,2011,65,Rising Pune Supergiant,Kolkata Knight Riders,Dr DY Patil Sports Academy,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,YK Pathan,"['JD Ryder', 'MK Pandey', 'CJ Ferguson', 'SC G...","['G Gambhir', 'SP Goswami', 'MK Tiwary', 'YK P...",S Ravi,SJA Taufel
714,501259,Mumbai,2011-05-16,2011,62,Rising Pune Supergiant,Deccan Chargers,Dr DY Patil Sports Academy,Deccan Chargers,field,N,Deccan Chargers,Wickets,6.0,NaN,A Mishra,"['JD Ryder', 'MK Pandey', 'SC Ganguly', 'RV Ut...","['S Sohal', 'S Dhawan', 'KC Sangakkara', 'JP D...",S Ravi,SK Tarapore
732,501241,Mumbai,2011-05-04,2011,44,Rising Pune Supergiant,Mumbai Indians,Dr DY Patil Sports Academy,Rising Pune Supergiant,field,N,Mumbai Indians,Runs,21.0,NaN,R Sharma,"['JD Ryder', 'MK Pandey', 'GC Smith', 'AA Jhun...","['AC Blizzard', 'SR Tendulkar', 'AT Rayudu', '...",HDPK Dharmasena,SJA Taufel
744,501228,Mumbai,2011-04-27,2011,31,Rising Pune Supergiant,Chennai Super Kings,Dr DY Patil Sports Academy,Rising Pune Supergiant,bat,N,Chennai Super Kings,Wickets,8.0,NaN,DE Bollinger,"['JD Ryder', 'MD Mishra', 'MK Pandey', 'M Manh...","['MEK Hussey', 'M Vijay', 'S Badrinath', 'SK R...",Asad Rauf,SL Shastri
759,501213,Mumbai,2011-04-17,2011,16,Rising Pune Supergiant,Delhi Capitals,Dr DY Patil Sports Academy,Delhi Capitals,field,N,Delhi Capitals,Wickets,3.0,NaN,Yuvraj Singh,"['JD Ryder', 'GC Smith', 'M Manhas', 'Yuvraj S...","['DA Warner', 'V Sehwag', 'IK Pathan', 'NV Ojh...",Asad Rauf,AM Saheba
765,501207,Mumbai,2011-04-13,2011,10,Rising Pune Supergiant,Kochi Tuskers Kerala,Dr DY Patil Sports Academy,Kochi Tuskers Kerala,bat,N,Rising Pune Supergiant,Wickets,4.0,NaN,MD Mishra,"['JD Ryder', 'GC Smith', 'M Manhas', 'Yuvraj S...","['BB McCullum', 'VVS Laxman', 'PA Patel', 'DPM...",S Asnani,PR Reiffel
770,501202,Mumbai,2011-04-10,2011,5,Rising Pune Supergiant,Punjab Kings,Dr DY Patil Sports Academy,Punjab Kings,bat,N,Rising Pune Supergiant,Wickets,7.0,NaN,SB Wagh,"['GC Smith', 'JD Ryder', 'M Manhas', 'RV Uthap...","['AC Gilchrist', 'SE Marsh', 'PC Valthaty', 'K...",BR Doctrove,PR Reiffel

In [77]:
ipl.replace(['Rising Pune Supergiants','Pune Warriors'],'Rising Pune Supergiant',inplace=True)

###`Q-6` Write a code which can display the bar chart of top 5 teams who have played maximum number of matches in the IPL.
>  Hint: Be careful the data is divided in 2 different cols(Team 1 and Team 2)

In [88]:
# code here
# ipl.value_counts()
# no_of_match

ID       City           Date        Season   MatchNumber  Team1                        Team2                        Venue                                                TossWinner                   TossDecision  SuperOver  WinningTeam                  WonBy    Margin  method  Player_of_Match   Team1Players                                                                                                                                               Team2Players                                                                                                                                                 Umpire1                Umpire2
336022   Delhi          2008-05-17  2007/08  40           Delhi Capitals               Punjab Kings                 Feroz Shah Kotla                                     Delhi Capitals               bat           N          Punjab Kings                 Runs     6.0     D/L     DPMD Jayawardene  ['G Gambhir', 'V Sehwag', 'S Dhawan', 'TM Dilshan', 'MF Maharoof', 'Shoaib Malik', 'PJ Sangwan', 'KD Karthik', 'A Mishra', 'R Bhatia', 'GD McGrath']       ['SE Marsh', 'JR Hopes', 'Yuvraj Singh', 'LA Pomersbach', 'DPMD Jayawardene', 'IK Pathan', 'RR Powar', 'PP Chawla', 'U Kaul', 'S Sreesanth', 'VRV Singh']    AV Jayaprakash         RE Koertzen        1
829807   Hyderabad      2015-05-15  2015     52           Sunrisers Hyderabad          Royal Challengers Bangalore  Rajiv Gandhi International Stadium, Uppal            Sunrisers Hyderabad          bat           N          Royal Challengers Bangalore  Wickets  6.0     D/L     V Kohli           ['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG Morgan', 'NV Ojha', 'KL Rahul', 'Bipul Sharma', 'KV Sharma', 'B Kumar', 'P Kumar', 'DW Steyn']              ['CH Gayle', 'V Kohli', 'AB de Villiers', 'Mandeep Singh', 'KD Karthik', 'SN Khan', 'D Wiese', 'MA Starc', 'HV Patel', 'YS Chahal', 'AB Dinda']              AK Chaudhary           HDPK Dharmasena    1
1136578  Kolkata        2018-04-21  2018     18           Kolkata Knight Riders        Punjab Kings                 Eden Gardens                                         Punjab Kings                 field         N          Punjab Kings                 Wickets  9.0     D/L     KL Rahul          ['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana', 'KD Karthik', 'AD Russell', 'Shubman Gill', 'TK Curran', 'PP Chawla', 'Shivam Mavi', 'Kuldeep Yadav']     ['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nair', 'AJ Finch', 'Yuvraj Singh', 'R Ashwin', 'AJ Tye', 'BB Sran', 'Mujeeb Ur Rahman', 'AS Rajpoot']             A Deshmukh             C Shamshuddin      1
1136566  Jaipur         2018-04-11  2018     6            Rajasthan Royals             Delhi Capitals               Sawai Mansingh Stadium                               Delhi Capitals               field         N          Rajasthan Royals             Runs     10.0    D/L     SV Samson         ['AM Rahane', 'DJM Short', 'BA Stokes', 'SV Samson', 'JC Buttler', 'RA Tripathi', 'K Gowtham', 'S Gopal', 'DS Kulkarni', 'JD Unadkat', 'B Laughlin']       ['GJ Maxwell', 'C Munro', 'RR Pant', 'CH Morris', 'V Shankar', 'SS Iyer', 'G Gambhir', 'R Tewatia', 'S Nadeem', 'TA Boult', 'Mohammed Shami']                KN Ananthapadmanabhan  Nitin Menon        1
1082648  Bangalore      2017-05-17  2017     Eliminator   Sunrisers Hyderabad          Kolkata Knight Riders        M Chinnaswamy Stadium                                Kolkata Knight Riders        field         N          Kolkata Knight Riders        Wickets  7.0     D/L     NM Coulter-Nile   ['DA Warner', 'S Dhawan', 'KS Williamson', 'Yuvraj Singh', 'V Shankar', 'NV Ojha', 'CJ Jordan', 'Bipul Sharma', 'B Kumar', 'Rashid Khan', 'S Kaul']        ['RV Uthappa', 'CA Lynn', 'YK Pathan', 'G Gambhir', 'IR Jaggi', 'SA Yadav', 'SP Narine', 'PP Chawla', 'UT Yadav', 'NM Coulter-Nile', 'TA Boult']             AK Chaudhary           Nitin Menon        1
980999   Bangalore      2016-05-18  2016     50           Royal Challengers Bangalore  Punjab Kings                 M Chinnaswamy Stadium                                Punjab Kings                 field         N          Royal Challengers Bangalore  Runs     82.0    D/L     V Kohli           ['CH Gayle', 'V Kohli', 'AB de Villiers', 'KL Rahul', 'SR Watson', 'Sachin Baby', 'STR Binny', 'CJ Jordan', 'S Aravind', 'VR Aaron', 'YS Chahal']          ['M Vijay', 'HM Amla', 'WP Saha', 'DA Miller', 'Gurkeerat Singh', 'AR Patel', 'F Behardien', 'KJ Abbott', 'MM Sharma', 'KC Cariappa', 'Sandeep Sharma']      KN Ananthapadmanabhan  M Erasmus          1
980997   Visakhapatnam  2016-05-17  2016     49           Rising Pune Supergiant       Delhi Capitals               Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium  Rising Pune Supergiant       field         N          Rising Pune Supergiant       Runs     19.0    D/L     AB Dinda          ['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'SS Tiwary', 'IK Pathan', 'MS Dhoni', 'NLTC Perera', 'R Ashwin', 'A Zampa', 'AB Dinda', 'DL Chahar']              ['Q de Kock', 'SS Iyer', 'KK Nair', 'SV Samson', 'RR Pant', 'JP Duminy', 'CH Morris', 'NM Coulter-Nile', 'A Mishra', 'Z Khan', 'Mohammed Shami']             Nitin Menon            C Shamshuddin      1
980989   Kolkata        2016-05-14  2016     45           Kolkata Knight Riders        Rising Pune Supergiant       Eden Gardens                                         Rising Pune Supergiant       bat           N          Kolkata Knight Riders        Wickets  8.0     D/L     YK Pathan         ['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK Pathan', 'Shakib Al Hasan', 'SA Yadav', 'AD Russell', 'PP Chawla', 'SP Narine', 'AS Rajpoot', 'M Morkel']     ['AM Rahane', 'UT Khawaja', 'GJ Bailey', 'SS Tiwary', 'IK Pathan', 'MS Dhoni', 'NLTC Perera', 'R Ashwin', 'A Zampa', 'M Ashwin', 'AB Dinda']                 A Nand Kishore         BNJ Oxenford       1
980943   Hyderabad      2016-04-26  2016     22           Sunrisers Hyderabad          Rising Pune Supergiant       Rajiv Gandhi International Stadium, Uppal            Rising Pune Supergiant       field         N          Rising Pune Supergiant       Runs     34.0    D/L     AB Dinda          ['DA Warner', 'S Dhawan', 'AP Tare', 'EJG Morgan', 'DJ Hooda', 'MC Henriques', 'NV Ojha', 'Bipul Sharma', 'B Kumar', 'A Nehra', 'Mustafizur Rahman']       ['AM Rahane', 'F du Plessis', 'SPD Smith', 'MS Dhoni', 'SS Tiwary', 'NLTC Perera', 'MR Marsh', 'R Bhatia', 'R Ashwin', 'M Ashwin', 'AB Dinda']               AY Dandekar            CK Nandan          1
829743   Visakhapatnam  2015-04-22  2015     19           Sunrisers Hyderabad          Kolkata Knight Riders        Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium  Kolkata Knight Riders        field         N          Sunrisers Hyderabad          Runs     16.0    D/L     DA Warner         ['S Dhawan', 'DA Warner', 'RS Bopara', 'NV Ojha', 'MC Henriques', 'KL Rahul', 'KV Sharma', 'Bipul Sharma', 'P Kumar', 'B Kumar', 'DW Steyn']               ['RV Uthappa', 'G Gambhir', 'MK Pandey', 'AD Russell', 'YK Pathan', 'SA Yadav', 'J Botha', 'PP Chawla', 'SP Narine', 'M Morkel', 'UT Yadav']                 RK Illingworth         VA Kulkarni        1
336025   Kolkata        2008-05-18  2007/08  41           Kolkata Knight Riders        Chennai Super Kings          Eden Gardens                                         Kolkata Knight Riders        bat           N          Chennai Super Kings          Runs     3.0     D/L     M Ntini           ['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly', 'DB Das', 'DJ Hussey', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'I Sharma', 'AB Dinda', 'Shoaib Akhtar']     ['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Raina', 'S Badrinath', 'MS Dhoni', 'JA Morkel', 'MS Gony', 'L Balaji', 'M Muralitharan', 'M Ntini']               Asad Rauf              K Hariharan        1
733993   Delhi          2014-05-10  2014     32           Delhi Capitals               Sunrisers Hyderabad          Feroz Shah Kotla                                     Sunrisers Hyderabad          field         N          Sunrisers Hyderabad          Wickets  8.0     D/L     DW Steyn          ['Q de Kock', 'KP Pietersen', 'MA Agarwal', 'KD Karthik', 'LR Shukla', 'JP Duminy', 'KM Jadhav', 'R Shukla', 'Mohammed Shami', 'Imran Tahir', 'S Kaul']    ['AJ Finch', 'S Dhawan', 'DA Warner', 'NV Ojha', 'KL Rahul', 'MC Henriques', 'IK Pathan', 'KV Sharma', 'DW Steyn', 'A Mishra', 'B Kumar']                    RM Deshpande           BNJ Oxenford       1
501255   Bangalore      2011-05-14  2011     58           Royal Challengers Bangalore  Kolkata Knight Riders        M Chinnaswamy Stadium                                Royal Challengers Bangalore  field         N          Royal Challengers Bangalore  Wickets  4.0     D/L     CH Gayle          ['CH Gayle', 'LA Pomersbach', 'V Kohli', 'AB de Villiers', 'M Kaif', 'KB Arun Karthik', 'SS Tiwary', 'A Mithun', 'Z Khan', 'S Aravind', 'CK Langeveldt']   ['JH Kallis', 'EJG Morgan', 'G Gambhir', 'MK Tiwary', 'YK Pathan', 'MV Boucher', 'R Bhatia', 'Iqbal Abdulla', 'B Lee', 'L Balaji', 'JD Unadkat']             RE Koertzen            RB Tiffin          1
501245   Kolkata        2011-05-07  2011     48           Kolkata Knight Riders        Chennai Super Kings          Eden Gardens                                         Chennai Super Kings          bat           N          Kolkata Knight Riders        Runs     10.0    D/L     Iqbal Abdulla     ['EJG Morgan', 'JH Kallis', 'G Gambhir', 'MK Tiwary', 'YK Pathan', 'MV Boucher', 'R Bhatia', 'Iqbal Abdulla', 'B Lee', 'L Balaji', 'JD Unadkat']           ['MEK Hussey', 'M Vijay', 'SK Raina', 'S Badrinath', 'JA Morkel', 'MS Dhoni', 'WP Saha', 'R Ashwin', 'DE Bollinger', 'SB Jakati', 'S Randiv']                Asad Rauf              PR Reiffel         1
501215   Kochi          2011-04-18  2011     18           Kochi Tuskers Kerala         Chennai Super Kings          Nehru Stadium                                        Kochi Tuskers Kerala         field         N          Kochi Tuskers Kerala         Wickets  7.0     D/L     BB McCullum       ['BB McCullum', 'DPMD Jayawardene', 'PA Patel', 'BJ Hodge', 'RA Jadeja', 'KM Jadhav', 'NLTC Perera', 'RV Gomez', 'R Vinay Kumar', 'RP Singh', 'RR Powar']  ['MEK Hussey', 'M Vijay', 'SK Raina', 'S Badrinath', 'MS Dhoni', 'JA Morkel', 'S Anirudha', 'R Ashwin', 'SB Jakati', 'TG Southee', 'DE Bollinger']           K Hariharan            AL Hill            1
392214   Centurion      2009-05-07  2009     34           Chennai Super Kings          Punjab Kings                 SuperSport Park                                      Chennai Super Kings          bat           N          Chennai Super Kings          Runs     12.0    D/L     ML Hayden         ['S Badrinath', 'ML Hayden', 'SK Raina', 'MS Dhoni', 'JA Morkel', 'GJ Bailey', 'S Tyagi', 'SB Jakati', 'L Balaji', 'M Muralitharan', 'MS Gony']            ['S Sohal', 'SM Katich', 'K Goel', 'Yuvraj Singh', 'DPMD Jayawardene', 'KC Sangakkara', 'IK Pathan', 'S Sreesanth', 'PP Chawla', 'YA Abdulla', 'VRV Singh']  DJ Harper              TH Wijewardene     1
392186   Durban         2009-04-21  2009     6            Punjab Kings                 Kolkata Knight Riders        Kingsmead                                            Kolkata Knight Riders        field         N          Kolkata Knight Riders        Runs     11.0    D/L     CH Gayle          ['RS Bopara', 'K Goel', 'IK Pathan', 'KC Sangakkara', 'Yuvraj Singh', 'DPMD Jayawardene', 'T Kohli', 'PP Chawla', 'VS Malik', 'VRV Singh', 'YA Abdulla']   ['BB McCullum', 'CH Gayle', 'BJ Hodge', 'SC Ganguly', 'Yashpal Singh', 'A Chopra', 'MC Henriques', 'LR Shukla', 'I Sharma', 'M Kartik', 'AB Dinda']          DJ Harper              SD Ranade          1
392183   Cape Town      2009-04-19  2009     3            Delhi Capitals               Punjab Kings                 Newlands                                             Delhi Capitals               field         N          Delhi Capitals               Wickets  10.0    D/L     DL Vettori        ['G Gambhir', 'V Sehwag', 'TM Dilshan', 'AB de Villiers', 'MK Tiwary', 'KD Karthik', 'DP Nannes', 'DL Vettori', 'VY Mahesh', 'AM Salvi', 'PJ Sangwan']     ['RS Bopara', 'K Goel', 'Yuvraj Singh', 'KC Sangakkara', 'DPMD Jayawardene', 'IK Pathan', 'PP Chawla', 'T Kohli', 'VS Malik', 'VRV Singh', 'YA Abdulla']     MR Benson              SD Ranade          1
1136592  Delhi          2018-05-02  2018     32           Delhi Capitals               Rajasthan Royals             Arun Jaitley Stadium                                 Rajasthan Royals             field         N          Delhi Capitals               Runs     4.0     D/L     RR Pant           ['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', 'GJ Maxwell', 'V Shankar', 'LE Plunkett', 'A Mishra', 'S Nadeem', 'Avesh Khan', 'TA Boult']                   ['DJM Short', 'JC Buttler', 'SV Samson', 'BA Stokes', 'RA Tripathi', 'K Gowtham', 'JC Archer', 'AM Rahane', 'JD Unadkat', 'DS Kulkarni', 'S Gopal']          CK Nandan              VK Sharma          1
dtype: int64

###`Q-7:` Player who got Most no. of player of the match award playing against Mumbai Indians.
> Just for this question assume player of the match award is given to players from winning team. Although this is true in most of the cases.

In [ ]:
# code here

###`Q-8:` Team1 vs Team2 Dashbord
Create a function which will take two string(name of two teams) as input. Show win Loss record between them and player getting most player of the match award in matches between these two teams.
```
team1_vs_team2('Kolkata Knight Riders','Chennai Super Kings')
```

In [ ]:
# code here

### `Q-9:` Find out the top 7 cities where the matches of Kolkata Knight Riders are played frequently and plot the result as bar chart. 

*`.plot(kind = "bar")` can help you to plot the bar chart. Also you can learn more about this method from [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html)*

In [ ]:
# code here

### `Q-10:` Find out the average margin for the team Mumbai Indians for only the session 2011.

In [ ]:
# code here