<a href="https://colab.research.google.com/github/singhbhaskar360/Python_ML/blob/main/session_5_task_tuple_dict_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 
```

In [ ]:
# write your code here

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
t1= (1, 5, 7, 8, 10)
op=()
for i in range(0,len(t1)):
  num=0
  if i==0:
    num=t1[i]*t1[i+1]
    op=op+(num,)
  elif i>0 and i<len(t1)-1:
    num=t1[i]*t1[i-1]+t1[i]*t1[i+1]
    op=op+(num,)
  else:
    num=t1[i]*t1[i-1]
    op=op+(num,)

print(op)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here

t1 = (1,2,3,0)
t2 = (1,2,3,0,6)
flag=True
if len(t1)!=len(t2):
  flag=False  
else:
  for i in range(0,len(t1)):
    if t1[i]==t2[i]:
      flag=True
    else:
      flag=False
      break

if flag==True:
  print("t1 and t2 are same")
else:
  print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
lcheck=[]
tcheck=()
scheck={}
l_c=0
s_c=0
t_c=0
type(list1)

# if type(list1)=="list":
#   print("uyuy")

for i in list1:
  if type(i)==type(lcheck):
    l_c+=1
  elif type(i)==type(tcheck):
    t_c+=1
  else:
    type(i)==type(scheck)
    s_c+=1

print("List",l_c)
print("Tuples",t_c)
print("Set",s_c)

List 2
Tuples 1
Set 2

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here

no_of_student=int(input("enter no of records "))
details=()
for i in range(0,no_of_student):
  print("Enter detail of student - ",i+1)
  name=input("Enter student name - ")
  edu=input("Enter Higher education - ")
  skill=input("Enter primary skill - ")
  year=input("Enter year of graduation - ")
  details+=((name,edu,skill,year),)

print("Enter job role requirements ")
sk=input("Enter Skill - ")
hs=input("Enter Higher Eduction - ")
yg=input("Enter year of Graduation - ")

for i in details:
  if sk in i and hs in i and yg in i:
    print(i)

enter no of records 2
Enter detail of student -  1
Enter student name - Manohar
Enter Higher education - BTech
Enter primary skill - Python
Enter year of graduation - 2022
Enter detail of student -  2
Enter student name - Sanohar
Enter Higher education - BSc
Enter primary skill - C++
Enter year of graduation - 2020
Enter job role requirements
Enter Skill - Python
Enter Higher Eduction - BTech
Enter year of Graduation - 2022
('Manohar', 'BTech', 'Python', '2022')

In [ ]:
t1=(("Manohar","Python","BTech","2020"),("Sanohar","C++","BSc","2022"))
for i in t1:
  if "Python" in i:
    print(i)

('Manohar', 'Python', 'BTech', '2020')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1=set(ar1)
s2=set(ar2)
s3=set(ar3)

s12=list(s1&s2&s3)
print(s12)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here

Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s1=set(Str1)
s2={"a","e","i","o","u","A","E","I","O","U"}
print("No of Unique vowels",len(s1&s2))

No of Unique vowels 6

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here

inp=set(input("Enter string - "))
if len(inp)==2:
  print("Output: ","Yes")
else:
  print("Output: ","No")

Enter string - Bhaskar
Output:  No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
l1=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
s1=set()
for i in l1:
  s2=set(i)
  s1.update(s2)

print(s1)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
l=1
max_v=0
k=" "
for i in test_dict:
  l_v=len(set(test_dict[i]))
  if l_v>=l:
    k=str(i)
  l=l_v


print(k)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [10]:
# write your code here

test_str = 'CampusX best for DS students.'
l1=test_str.split(sep=' ')
print(l1)

repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
repl_dict1 = {"good" : "is the best channel", "ds" : "Data-Science"}
for i in range(0,len(l1)):
  for j in repl_dict1:
    if l1[i]==str(j):
      l1[i]=repl_dict1[j]

l2=' '.join(l1)
print(l2)

['CampusX', 'best', 'for', 'DS', 'students.']
CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [24]:
# write your code here
# l1=[(1,2),(3,4),(5,6)]
# print(dict(l1))

# for i in range(0,len(l1),2):
#   print(l1[i])
#   i=i+1

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
l1=[0,0]
l2=[]
for i in range(0,len(test_list),2):
  t1=(key_list[0],test_list[i])
  t2=(key_list[1],test_list[i+1])
  l1[0]=t1
  l1[1]=t2
  l2.append(dict(l1))


print(l2)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [31]:
# write your code here
l1=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d1={}
for i in l1:
  d1[str(i[0])]=[i[1]]
print(d1)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [41]:
# write your code here
d1={'c': [3], 'b': [12, 10], 'a': [19, 4]}
d_keys=list(d1.keys())
d_values=list(d1.values())
d_keys.sort()
d_values.sort()

s_d={i:sorted(d1[i]) for i in d_keys}
print(s_d)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}