<a href="https://colab.research.google.com/github/singhbhaskar360/Python_ML/blob/main/session_16_PANDAS_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#272

###`Q-1:` Write a program to create an empty series.

In [ ]:
# code here
import numpy as np
import pandas as pd


X=pd.Series([])
print(X)

Series([], dtype: float64)

<ipython-input-3-668ca3ec72be>:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  X=pd.Series([])

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
# code here
p1=pd.Series([2,4,6,8])
p2=pd.Series([3,5,7,9])

p1+p2
p1*p2
p1-p2
p2/p1

0    1.500000
1    1.250000
2    1.166667
3    1.125000
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [ ]:
# code here
p2[p1<p2]

0    3
1    5
2    7
3    9
dtype: int64

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [ ]:
# code here

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [25]:
# code here

import pandas as pd
runs=pd.read_csv('/content/batsman_runs_series.csv',index_col='batter')

In [28]:
runs.sort_values('batsman_run',ascending=False).head(10)

                batsman_run
batter
V Kohli                6634
S Dhawan               6244
DA Warner              5883
RG Sharma              5881
SK Raina               5536
AB de Villiers         5181
CH Gayle               4997
MS Dhoni               4978
RV Uthappa             4954
KD Karthik             4377

###`Q-7` No of players having runs above 3000

In [31]:
# code here
runs[runs['batsman_run']>3000].sort_values('batsman_run',ascending=False)

                batsman_run
batter
V Kohli                6634
S Dhawan               6244
DA Warner              5883
RG Sharma              5881
SK Raina               5536
AB de Villiers         5181
CH Gayle               4997
MS Dhoni               4978
RV Uthappa             4954
KD Karthik             4377
G Gambhir              4217
AT Rayudu              4190
AM Rahane              4074
KL Rahul               3895
SR Watson              3880
MK Pandey              3657
SV Samson              3526
KA Pollard             3437
F du Plessis           3403
YK Pathan              3222

###`Q-8` No of players having runs above mean value?

In [42]:
# code here
runs['batsman_run'].sum()/runs.count()
runs.mean()
print(runs[runs['batsman_run']>runs['batsman_run'].mean()].count())
print(runs.count())
runs[runs['batsman_run']<=runs['batsman_run'].mean()].count()

batsman_run    128
dtype: int64
batsman_run    605
dtype: int64

batsman_run    477
dtype: int64

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9` 
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [ ]:
# code here

###`Q-10`: 
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here