<a href="https://colab.research.google.com/github/singhbhaskar360/Python_ML/blob/main/session_6_task_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def l_s_converter(l):
  return list(set(l))


l1=[1,2,3,3,3,3,4,5]
print(l_s_converter(l1))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here



s1="green-red-yellow-black-white"
l1=list(s1.split("-"))
l1.sort()
s2=str('-'.join(l1))
print(s2)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def l_u_count(x):
  u_counter=0
  l_counter=0
  for i in x:
    if i.isupper():
      u_counter+=1
    elif i.islower():
      l_counter+=1

  print("No. of Upper case characters : ",u_counter)
  print("No. of Lower case characters : ",l_counter)



s1='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
l_u_count(s1)

No. of Upper case characters :  9
No. of Lower case characters :  47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
def is_even(x):
  e=[]
  for i in x:
    if i%2==0:
      e.append(i)

  return e


l1=[1, 2, 3, 4, 5, 6, 7, 8, 9]
print(is_even(l1))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example : 

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. 
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. 

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def Merge(*x):
  f_dic={}
  for i in x:
    f_dic.update(i)

  return f_dic


dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

print(Merge(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here

s1="hello how are you i am fine thank you"
l1=list(s1.split(" "))
l1.count("you")
d={}

for i in l1:
  # d1={i,l1.count(i)}
  # d.update(d2)
  d[i]=l1.count(i)

print(d)
key_max=max(zip(d.values(),d.keys()))[1]
value_max=max(zip(d.keys(),d.values()))[1]
print(key_max,"->",value_max)

{'hello': 1, 'how': 1, 'are': 1, 'you': 2, 'i': 1, 'am': 1, 'fine': 1, 'thank': 1}
you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

l1=[(1,1),(2,2),(3,3),(4,4)]
q1=(2.1,4.2)
# for i in l1:
#   print(i[0],i[1])
d={}
for i in range(0,len(l1)):
  d[i]=((q1[0]-l1[i][0])**2+(q1[1]-l1[i][1])**2)**0.5
print(d)
min_ind=min(zip(d.values(),d.keys()))[1]
print("Nearest to ",q1," is ",l1[min_ind])

{0: 3.3837848631377265, 1: 2.202271554554524, 2: 1.5, 3: 1.91049731745428}
Nearest to  (2.1, 4.2)  is  (3, 3)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
def sq(s,i):
  return s**i

def f_p(l):
  k=[]
  for i in range(0,len(l)):
    k.append(sq(l[i],i))

  return k
    

list1 = [1,2,3,4,5,6]
print(f_p(list1))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

`Problem-14`: Use reduce to convert a 2D list to 1D

In [5]:
# Write code here

l=[[1,2,3,4],[5,6,7,8]]
import functools

functools.reduce(lambda x,y:x+y,l)

[1, 2, 3, 4, 5, 6, 7, 8]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }
    
]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']